.tweet-chip-list {
    width: 100%;
}

.tweet-box {
    max-width: 600px;
    margin: 3em auto 3em auto;
}

.tweet-mat-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}

.tweet-box-footer {
    margin: auto;
    color: #536471;
    font-size: 13px;
}